.wrapperGlobal {
    width: 800px;
    margin: 0 auto;
}

.todoListItem {
    display: flex;
    justify-content: space-between;
    width: 780px;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    z-index: 1;
}

.todoListItem:hover {
    transform: scale(1.03);
}

.todoListItem:nth-child(2n+1) {
    background-color: bisque;
}

.spanStyle {
    padding: 2px;
    margin-right: 15px;
    background-color: white;
    color: black;
    border: wheat;
    border-radius: 15%;
    cursor: pointer;
}

.todoListItem .wrapper {
    display: flex;
    flex-direction: row;
}

.todoListItem .wrapper span {
    display: block;
    transition: .3s;
}

.todoListItem .wrapper span:hover {
    transform: scale(1.3);
}

.todoListItem .wrapper span:nth-child(4) {
    transform: scale(1);
}

.todoListItem .wrapper span:nth-child(5) {
    transform: scale(1);
}


.deadLine {
    padding: 2px;
    margin-right: 15px;
    background-color: white;
    color: black;
    border: wheat;
    border-radius: 15%;
}